body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

p {
  color: #8f8f8f;
}

/* Heading */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  margin-bottom: 4.2rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'ubuntu', sans-serif;
}
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download Buttons */

.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  text-align: left;
}

.image-title {
  transform: rotate(25deg);
  width: 20%;
  position: absolute;
  right: 24%;
}

/* Features */
#features {
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.features-box {
  padding: 5%;
}

.features-title {
  font-weight: 600;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.features-icon:hover {
  color: #ff4c68;
}

/* testimonial section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px 20px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-title {
  font-weight: 600;
}
/* Call to Action  */

#cta {
  background-color: #ff4c68;
}

.btn-cta:hover {
  background-color: rgb(227, 227, 227);
}

/* Footer */

.btn-footer {
  background-color: #fff;
  border: 0;
  padding: 20px 8px;
}
@media (max-width: 997px) {
  .title {
    text-align: center;
  }
  .image-title {
    transform: rotate(0deg);
    width: 50%;
    position: static;
    padding-top: 20px;
  }
}
